body{
    margin: 0;
    display: flex;
    flex-direction:column;
    height: 100vh;
    align-items: center;
    font-family:Verdana;
    background:url("sfondo.jpg") no-repeat center;
    background-size: cover;
}

.divTitolo{
    background: none;
    border-radius:10px;
    width:350px;
    margin:100px auto 10px auto;
}

.scritta{
    text-align: center;
    text-transform: uppercase;
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.div{
    display:flex;
    flex-direction:column;
    color:white;
    width: 75vh;
    height: 40vh;
    border-radius: 5px;
    align-items: center;
    
    
    
}   
.div a {
    color:white;
    justify-content: center;
    text-align:center;
    align-items: center;
    margin:5;
    background-color: #05BFDB;
    border-radius:5px;
    width:80%;
    text-decoration: none;
    
}

.div a:hover,
.div a:active{
    background-color: #049bb3;
}