body{
    margin: 0;
    display: flex;
    flex-direction:column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family:Verdana;
    background:url("sfondo.jpg");
    background-size: cover;
}
.divTitolo{
    display:flex;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    border-radius:10px;
    width:35vh;
    height:5vh;
    margin:100px;
    justify-content: center;
    align-items: center;
}
.div{
    display:flex;
    flex-direction:column;
    color:white;
    width: 75vh;
    height: 40vh;
    border-radius: 5px;
    align-items: center;
    
    
    
}   
.div a {
    color:white;
    justify-content: center;
    text-align:center;
    align-items: center;
    margin:5;
    background-color: #05BFDB;
    border-radius:5px;
    width:80%;
    
    
}
